name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Setup zig master build
        uses: goto-bus-stop/setup-zig@v2.2.0
        with:
          version: master

      - name: Run a build test
        run: zig build test

      - name: Run test by passing test file
        run: zig test src/test.zig

      - name: Build examples
        run: zig build examples
